%ul.nav-tabs.nav
    %li= link_to "About", "#about", "data-toggle" => "tab"
    %li= link_to  "Contact", "#contact", "data-toggle" => "tab"
    %li= link_to "Github", "https://github.com/ericstratmann"
    %li= link_to "Research", "#research", "data-toggle" => "tab"
    %li= link_to "Resume", "#resume", "data-toggle" => "tab"
    %li= link_to "Books", "#books", "data-toggle" => "tab"
%div.tab-content#content
    %div.tab-pane.active#about
        =render :partial => "about"
    %div.tab-pane#contact
        =render :partial => "contact"
    %div.tab-pane#research
        =render :partial => "research"
    %div.tab-pane#resume
        =render :partial => "resume"
    %div.tab-pane#books
        =render :partial => "books"
