!!! 5
%html
    %head
        %title Eric Stratmann
        = stylesheet_link_tag 'bootstrap', :media => 'all'
        = stylesheet_link_tag 'application', :media => 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
    %body
        .main
            .navigation
                %ul.nav-tabs
                    %li= link_to "About", page_path("index")
                    %li= link_to "Contact", page_path("contact")
                    %li= link_to "Github", "https://github.com/ericstratmann"
                    %li= link_to "Research", page_path("research")
                    %li= link_to "Resume", page_path("resume")
                    %li= link_to "Books", page_path("books")
            #content
                = yield
