<!DOCTYPE html>
<html>
<head>
<title>Eric Stratmann</title>
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="foo">
        <h1>Eric Stratmann</h1>
        <div class="fluid-layout"><div class="row-fluid">
            <div id="sidebar" class="span2">
                <%= image_tag "eric_stratmann.jpg", :alt => "Picture of Eric Stratmann" %>
                <ul id="links">
                    <li><%= link_to "About", page_path("index") %></li>
                    <li><%= link_to "Contact", page_path("contact") %></li>
                    <li><%= link_to "Github", "https://github.com/ericstratmann" %></li>
                    <li><%= link_to "Research", page_path("research") %></li>
                    <li><%= link_to "Interests", page_path("interests") %></li>
                    <li><%= link_to "Resume", page_path("resume") %></li>
                    <li><%= link_to "Skills", page_path("skills") %></li>
                </ul>
            </div>

            <div id="main" class="span10">
                <div id="content">
                    <%= yield %>
                </div>
            </div>
        </div></div>
    </div>

</body>
</html>
