!!! 5
%html
    %head
        %title Eric Stratmann
        = stylesheet_link_tag 'bootstrap', :media => 'all'
        = stylesheet_link_tag 'application', :media => 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
    %body
        .row
            .span12
                %h1#top Eric Stratmann
                .row
                    .span4
                        #sidebar
                            = image_tag 'eric_stratmann.jpg', :alt => 'Picture of Eric Stratmann'
                            %ul.links
                                %li= link_to "About", page_path("index")
                                %li= link_to "Contact", page_path("contact")
                                %li= link_to "Github", "https://github.com/ericstratmann"
                                %li= link_to "Research", page_path("research")
                                %li= link_to "Interests", page_path("interests")
                                %li= link_to "Resume", page_path("resume")
                                %li= link_to "Skills", page_path("skills")
                                %li= link_to "Website Source", "https://github.com/ericstratmann/personal-website" 
                                %span Personal
                                %li= link_to "Books", page_path("books")
                    .span8
                        #content
                            = yield
